FirstPySparkCode

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [25]:
from pyspark.sql.types import (StructField, IntegerType,
                              StringType, StructType)

In [26]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [27]:
final_struc = StructType(fields=data_schema)

In [28]:
df = spark.read.json('/Users/natig/Dev/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json',schema=final_struc)

In [29]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [32]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df.columns

['age', 'name']

In [35]:
    df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [36]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [37]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [39]:
df.head(2)[0]

Row(age=None, name='Michael')

In [40]:
df.head(2)[1]

Row(age=30, name='Andy')

In [42]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [43]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [46]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [49]:
df.withColumnRenamed('age','new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

SQL with PySpark

In [50]:
df.createOrReplaceTempView('people')

In [51]:
results = spark.sql('SELECT * FROM people')

In [52]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [53]:
new_result = spark.sql('select * from people where age>20')

In [55]:
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+